@import '../../constants/variables.scss';

.button__container {
  border-radius: 10px;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  border-style: unset;
  transition: opacity 0.1s ease;
}

.button__container:active {
  opacity: 0.6;
}

.button--small {
  padding: 5px 10px;
  font-size: 14px;
}
.button--medium {
  padding: 10px 16px;
  font-size: 16px;
}
.button--large {
  padding: 14px 22px;
  font-size: 18px;
}

.button--contained {
  background-color: $PURPLE_1;
  color: white;
}
.button--outline {
  background-color: white !important;
  border: 1px solid;
  
}
.button--text {
  background: transparent;
  color: $BLACK_2_80;
}
.button--text:hover {
  background: #9d9d9e0a !important;
}

.button--dim {
  opacity: 0.8;
}

.button--disable {
  color: $BLACK_4;
  box-shadow: none;
  background-color: $BLACK_3;
  cursor: not-allowed;
}

.button__icon--right {
  width: 14px;
  height: 14px;
  padding-right: 8px;
}
.button__icon--left {
  width: 14px;
  height: 14px;
  padding-left: 8px;
}

.button__icon-button--style {
  background-color: $PURPLE_1;;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: unset;
  transition: opacity 0.1s ease;
}

.button__icon-button--style:active {
  opacity: 0.6;
}

.button__icon--medium {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  .button__icon--style {
    width: 15px;
    height: 13px;
  }
}

.button__icon--small {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  .button__icon--style {
    width: 12px;
    height: 10px;
  }
}

.button__icon--large {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  .button__icon--style {
    width: 18px;
    height: 16px;
  }
}
